#!/bin/bash
set -euo pipefail

if  ! command -v brew &> /dev/null; then
    # Get Homebrew package manager
    /bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"
fi

# Packages
{{ $brews := list
    "ast-grep"
    "bat"
    "cmake"
    "curl"
    "eza"
    "fd"
    "fx"
    "fzf"
    "git"
    "git-delta"
    "gnu-sed"
    "jq"
    "lazydocker"
    "lazygit"
    "less"
    "mise"
    "neofetch"
    "neovim"
    "nmap"
    "opam"
    "ripgrep"
    "typst"
    "wget"
    "zsh"
    -}}


brew bundle --file=/dev/stdin <<EOF
{{ range ($brews | sortAlpha | uniq) -}}
brew "{{ . }}"
{{ end -}}
EOF
