#!/bin/bash

set -euo pipefail


if  ! command -v brew &> /dev/null; then
    # Requires brew command
    exit 1
fi

# Applications
{{ $casks := list
     "google-chrome"
     "cloudflare-warp"
     "firefox"
     "dbeaver-community"
     "pgadmin4"
     "notion"
     "1password"
     "1password-cli"
     "slack"
     "slack-cli"
-}}


brew bundle --file=/dev/stdin <<EOF
{{ range ($casks | sortAlpha | uniq) -}}
cask "{{ . }}"
{{ end -}}
EOF
