#!/bin/bash

set -euo pipefail


if  ! command -v brew &> /dev/null; then
    # Requires brew command
    exit 1
fi

# Applications
{{ $casks := list
     "bitwarden"
     "google-chrome"
     "karabiner-elements"
     "kitty"
     "obsidian"
     "visual-studio-code"
-}}


brew bundle --file=/dev/stdin <<EOF
{{ range ($casks | sortAlpha | uniq) -}}
cask "{{ . }}"
{{ end -}}
EOF

# Packages
{{ $brews := list
    "blueutil"
    "sleepwatcher"
    -}}


brew bundle --file=/dev/stdin <<EOF
{{ range ($brews | sortAlpha | uniq) -}}
brew "{{ . }}"
{{ end -}}
EOF

echo "Starting brew services..."
brew services start sleepwatcher

