#!/bin/bash
set -euo pipefail

if  ! command -v brew &> /dev/null; then
    # Get Homebrew package manager
    /bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"
fi

# Packages
{{ $brews := list
    "bat"
    "curl"
    "cmake"
    "exa"
    "fd"
    "fzf"
    "git"
    "git-delta"
    "less"
    "neofetch"
    "neovim"
    "nmap"
    "ripgrep"
    "wget"
    "zsh"
    -}}

# Applications
{{ $casks := list
     "blackhole-16ch"
     "brave-browser"
     "dropbox"
     "inkscape"
     "kitty"
     "visual-studio-code"
     "vlc"
     "spotify"
     "whatsapp"
     "notion"
     "signal"
     "transmission"
     "rekordbox"
     "the-unarchiver"
     "supercollider"
     "vcv-rack"
     "xld" -}}

brew bundle --no-lock --file=/dev/stdin <<EOF
{{ range ($brews | sortAlpha | uniq) -}}
brew "{{ . }}"
{{ end -}}
{{ range ($casks | sortAlpha | uniq) -}}
cask "{{ . }}"
{{ end -}}
EOF