{{/* boolean feature tags */}}
{{- $ephemeral := false -}}{{/* true if this machine is ephemeral, e.g. a cloud or VM instance */}}
{{- $headless := false -}}{{/* true if this machine does not have a screen and keyboard */}}

{{/* detect GitHub codespaces, VSCode remote containers, Docker containers, Multipass VMs, and Vagrant boxes */}}
{{- if or (env "CODESPACES") (env "REMOTE_CONTAINERS_IPC") (eq .chezmoi.username "root" "ubuntu" "vagrant" "vscode") -}}
{{-   $ephemeral = true -}}
{{-   $headless = true -}}
{{- end -}}

{{- if not $ephemeral -}}
{{-   if stdinIsATTY -}}
{{-     $headless = promptBoolOnce . "headless" "headless" -}}
{{-     $ephemeral = promptBoolOnce . "ephemeral" "ephemeral" -}}
{{-   else -}}
{{-     $ephemeral = true -}}
{{-     $headless = true -}}
{{-   end -}}
{{- end -}}

[data]
  ephemeral = {{ $ephemeral }}
  headless = {{ $headless }}
  fonts    = {{ if $headless }}false{{ else }}{{ promptBool "Install fonts" }}{{ end }}
  tidal    = {{ if $headless }}false{{ else }}{{ promptBool "Install tidal" }}{{ end }}

{{- $brewPath := "" }}
{{- if eq .chezmoi.os "darwin" }}
{{-   if eq .chezmoi.arch "arm64" }}
{{-     $brewPath = "/opt/homebrew/bin:/opt/homebrew/sbin" }}
{{-   else }}
{{-     $brewPath = "/usr/local/bin:/usr/local/sbin" }}
{{-   end }}
{{- else if eq .chezmoi.os "linux" }}
{{-   $brewPath = "/home/linuxbrew/.linuxbrew/bin:/home/linuxbrew/.linuxbrew/sbin" }}
{{- end }}

[env]
{{- if $brewPath }}
    PATH = "{{ $brewPath }}:{{ env "PATH" }}"
{{- end }}

[edit]
    command = "nvim"

[diff]
    pager = "delta"
    command = "delta"
    args = ["--side-by-side"]

[merge]
    command = "nvim"
    args = ["-d"]

