# Powerlevel10k zsh prompt theme
[".local/share/zsh/powerlevel10k"]
    type = "archive"
    url = "https://github.com/romkatv/powerlevel10k/archive/v1.20.0.tar.gz"
    stripComponents = 1

# Syntax highlighting in the zsh shell
[".local/share/zsh/f-sy-h"]
    type = "archive"
    url = "https://github.com/z-shell/F-Sy-H/archive/refs/tags/v1.67.tar.gz"
    exact = true
    stripComponents = 1

# Command suggestions
[".local/share/zsh/zsh-autosuggestions"]
    type = "archive"
    url = "https://github.com/zsh-users/zsh-autosuggestions/archive/master.tar.gz"
    exact = true
    stripComponents = 1
    refreshPeriod = "168h"

# Various completion scripts
[".local/share/zsh/zsh-completions"]
    type = "archive"
    url = "https://github.com/zsh-users/zsh-completions/archive/master.tar.gz"
    exact = true
    stripComponents = 1
    refreshPeriod = "168h"

# LazyVim
[".local/share/nvim/lazy/lazy.nvim"]
    type = "git-repo"
    url = "https://github.com/folke/lazy.nvim.git"
    clone.args = ["--filter=blob:none", "--branch=stable"]
    pull.args = ["origin", "stable", "--quiet"]

# Kitty logo
# macOS: May need to run `rm /var/folders/*/*/*/com.apple.dock.iconcache; killall Dock`
[".config/kitty/kitty.app.png"]
    type = "file"
    url = "https://raw.githubusercontent.com/samholmes/whiskers/main/whiskers-tokyo.png"

{{ if .tidal -}}
# Mutable instruments U-gens for tidal
[".local/share/SuperCollider/Extensions/SC3Plugins"]
    type = "archive"
    url = "https://github.com/v7b1/mi-UGens/releases/latest/download/mi-UGens-{{ eq .chezmoi.os "darwin" | ternary "macOS" "Linux" }}.zip"
    refreshPeriod = "168h"
[".local/share/SuperCollider/synthdefs/mi-ugens.scd"]
    type = "file"
    url = "https://raw.githubusercontent.com/cleary/ansible-tidalcycles-synth-mi-ugens/master/files/mutable-instruments-synthdefs.scd"
    refreshPeriod = "168h"
[".config/tidal/hs/mi-ugens-params.hs"]
    type = "file"
    url = "https://raw.githubusercontent.com/cleary/ansible-tidalcycles-synth-mi-ugens/master/files/mutable-instruments-ugens_parameters.hs"
    refreshPeriod = "168h"
{{- end -}}

{{- if .fonts }}
{{/* Install Fonts to os-specific location */}}
{{- $fontDir := "" }}
{{-   if eq .chezmoi.os "darwin" }}
{{-     $fontDir = "Library/Fonts" }}
{{-   else if eq .chezmoi.os "linux" }}
{{-     $fontDir = ".local/share/fonts" }}
{{-   end }}
# FiraCode NF
["{{ $fontDir }}/FiraCodeNF"]
    type = "archive"
    url = "https://github.com/ryanoasis/nerd-fonts/releases/download/v3.3.0/FiraCode.tar.xz"
    exclude = ["*.md"]

# CaskaydiaCove NF
["{{ $fontDir }}/CaskaydiaCoveNF"]
    type = "archive"
    url = "https://github.com/ryanoasis/nerd-fonts/releases/download/v3.3.0/CascadiaCode.tar.xz"
    exclude = ["*.md"]

# Nerd Font Symbols Only
["{{ $fontDir }}/NerdFontGlyphs"]
    type = "archive"
    url = "https://github.com/ryanoasis/nerd-fonts/releases/download/v3.3.0/NerdFontsSymbolsOnly.tar.xz"
    exclude = ["*.md"]

# FiraCode
["{{ $fontDir }}/FiraCode"]
    type = "archive"
    url = "https://github.com/tonsky/FiraCode/releases/download/6.2/Fira_Code_v6.2.zip"
    stripComponents = 1
    include = ["*/FiraCode-VF.ttf"]

# VictorMono
["{{ $fontDir }}/VictorMono"]
    type = "archive"
    url = "https://rubjo.github.io/victor-mono/VictorMonoAll.zip"
    refreshPeriod = "168h"
    stripComponents = 1
    include = ["*/*.ttf"]

# IBM Plex
["{{ $fontDir }}/IBMPlex"]
    type = "archive"
    url = "https://github.com/IBM/plex/releases/download/%40ibm%2Fplex-sans%401.1.0/ibm-plex-sans.zip"
    stripComponents = 4
    include = ["**/*.ttf"]

{{- end }}

