engine-strict=true
audit=false
fund=false
update-notifier=false
save-exact=true

@resident-advisor:registry=https://npm.pkg.github.com/
//npm.pkg.github.com/:_authToken={{ (rbwFields "github.com").PAT.value }}
