# Set PATH, MANPATH, etc., for Homebrew
{{ if eq .chezmoi.os "linux" -}}
eval "$(/home/linuxbrew/.linuxbrew/bin/brew shellenv)"
{{ end -}}
{{ if eq .chezmoi.os "darwin" -}}
eval "$(/opt/homebrew/bin/brew shellenv)"
{{- end }}

# Add local binaries to PATH
[[ ! -d "$HOME/.local/bin" ]] || PATH="$HOME/.local/bin:$PATH"

# Rust
[[ ! -r "$HOME/.cargo/env"  ]] || source "$HOME/.cargo/env"

# Haskell
[[ ! -r "$HOME/.ghcup/env"  ]] || source "$HOME/.ghcup/env"

# Ocaml
[[ ! -r "$HOME/.opam/opam-init/init.zsh" ]] || source "$HOME/.opam/opam-init/init.zsh" >/dev/null 2>/dev/null

