engine-strict=true
audit=false
fund=false
update-notifier=false
save-exact=true

@motilent:registry=https://gitlab.com/api/v4/packages/npm/
//gitlab.com/api/v4/packages/npm/:_authToken={{ (bitwardenFields "item" "ded5feb3-287f-455a-b1fd-b23c010dd778").PAT.value }}
