# Load Antigen
source "$HOME/.config/zsh/antigen.zsh"

# Load antigen config
antigen init ~/.antigenrc

# Enable Powerlevel10k instant prompt. Should stay close to the top of ~/.zshrc.
# Initialization code that may require console input (password prompts, [y/n]
# confirmations, etc.) must go above this block; everything else may go below.
if [[ -r "${XDG_CACHE_HOME:-$HOME/.cache}/p10k-instant-prompt-${(%):-%n}.zsh" ]]; then
  source "${XDG_CACHE_HOME:-$HOME/.cache}/p10k-instant-prompt-${(%):-%n}.zsh"
fi

# Set env vars
export EDITOR=nvim

# Add yarn global binaries to PATH
if [ `command -v yarn &>/dev/null` ]; then                                                                                                                               ✔  09:51:54  
  export PATH="$(yarn global bin):$PATH"
fi

# Source keybindings
source "$HOME/.config/zsh/keybindings.zsh"

# Add user functions to fpath
fpath=( ~/.config/zsh/funcs "${fpath[@]}" )

# Tag user functions for autoload
{{ if eq .chezmoi.os "linux" -}}
autoload -Uz setBrightness
{{ end -}}
{{ if eq .chezmoi.os "darwin" -}}
# No custom funcs for macOS
{{ end -}}
# End autoload

# To customize prompt, run `p10k configure` or edit ~/.p10k.zsh.
[[ ! -f ~/.p10k.zsh ]] || source ~/.p10k.zsh
