#!/bin/bash

# Update when the asdf version may have changed
# .chezmoiexternal hash: {{ include ".chezmoiexternal.toml.tmpl" | sha256sum }}

set -u pipefail

source $HOME/.asdf/asdf.sh

## python ##
[[ `command -v asdf python` ]] || asdf plugin-add python

## nodejs ##
[[ `command -v asdf node` ]] || asdf plugin-add nodejs https://github.com/asdf-vm/asdf-nodejs.git

# Set local versions using
# > asdf local <exec> <ver>
