#!/usr/bin/env zsh
# Last run {{ now | date "2006-01" }}

echo "Writing completion scripts to '$ZDOTDIR/completions'..."

mkdir -p "$ZDOTDIR/completions"

command -v docker &> /dev/null && docker completion zsh > "$ZDOTDIR/completions/_docker"

command -v rustup &> /dev/null && rustup completions zsh > "$ZDOTDIR/completions/_rustup"
command -v rustup &> /dev/null && rustup completions zsh cargo > "$ZDOTDIR/completions/_cargo"

command -v mise &> /dev/null && mise completion zsh > "$ZDOTDIR/completions/_mise"

command -v rbw &> /dev/null && rbw gen-completions zsh > "$ZDOTDIR/completions/_rbw"
