#!/bin/bash

echo "Installing brew extras..."

if  ! command -v /home/linuxbrew/.linuxbrew/bin/brew &> /dev/null; then
    # Get Homebrew package manager
    /bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"
fi

# Set PATH, MANPATH, etc., for Homebrew
eval "$(/home/linuxbrew/.linuxbrew/bin/brew shellenv)"

# install packages
{{ $brews := list
    "ast-grep"
    "bat"
    "fx"
    "mkcert"
    "opam"
    "typst"
    -}}

brew bundle --file=/dev/stdin <<EOF
{{ range ($brews | sortAlpha | uniq) -}}
brew "{{ . }}"
{{ end -}}
EOF
