#!/bin/bash

set -euo pipefail

if ! command -v snap &> /dev/null; then
    echo "snap is not installed"
    exit 1
fi

{{ $snaps := list
    "bitwarden"
    "cmake --classic"
    "obsidian --classic"
    "firefox"
    "peek"
    "postman"
    "spotify"
    "vlc"
    "weasis"
-}}

echo "Installing snap packages..."
{{range $snaps}}
sudo snap install {{.}}
{{end}}
