#!/bin/bash

echo "Installing brew packages..."

if  ! command -v /home/linuxbrew/.linuxbrew/bin/brew &> /dev/null; then
    # Get Homebrew package manager
    /bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"
fi

# Set PATH, MANPATH, etc., for Homebrew
eval "$(/home/linuxbrew/.linuxbrew/bin/brew shellenv)"

# install packages
{{ $brews := list
    "chezmoi"
    "eza"
    "fd"
    "fzf"
    "git-delta"
    "lazydocker"
    "lazygit"
    "mise"
    "neovim"
    "rbw"
    "ripgrep"
    "tree-sitter-cli"
    "uv"
    "zsh"
    -}}

brew bundle --file=/dev/stdin <<EOF
{{ range ($brews | sortAlpha | uniq) -}}
brew "{{ . }}"
{{ end -}}
EOF
