#!/usr/bin/env zsh

# Enable Powerlevel10k instant prompt. Should stay close to the top of .zshrc.
# Initialization code that may require console input (password prompts, [y/n]
# confirmations, etc.) must go above this block; everything else may go below.
if [[ -r "${XDG_CACHE_HOME:-$HOME/.cache}/p10k-instant-prompt-${(%):-%n}.zsh" ]]; then
  source "${XDG_CACHE_HOME:-$HOME/.cache}/p10k-instant-prompt-${(%):-%n}.zsh"
fi

# Load Antigen zsh package manager
source "$ZDOTDIR/antigen.zsh"

# Load antigen config
antigen init "$ZDOTDIR/.antigenrc"

# Set zsh options
setopt AUTO_PUSHD     # Push the old directory onto the stack on cd.

{{ if eq .chezmoi.os "darwin" -}}
# Add pnpm global binaries to PATH
if [[ `command -v pnpm` ]]; then
  export PNPM_HOME="/Users/gethin/Library/pnpm"
  export PATH="$PNPM_HOME:$PATH"
fi
{{- end }}

# Load adsf
source "$HOME/.asdf/asdf.sh"

# Source keybindings
source "$ZDOTDIR/keybindings.zsh"

# Configure completions
source "$ZDOTDIR/completion.zsh"

# Auto suggestions ignore glob
ZSH_AUTOSUGGEST_HISTORY_IGNORE="git clone *|git commit -m *|git push --force|rm *"

# Add user functions to fpath
fpath=(${ZDOTDIR}/funcs $fpath )

# Tag user functions for autoload
{{ if eq .chezmoi.os "linux" -}}
autoload -Uz setBrightness
{{ end -}}
{{ if eq .chezmoi.os "darwin" -}}
# No custom funcs for macOS
{{ end -}}
# End autoload

# To customize prompt, run `p10k configure` or edit ~/.p10k.zsh.
[[ ! -f ~/.p10k.zsh ]] || source ~/.p10k.zsh

