# Enable Powerlevel10k instant prompt. Should stay close to the top of .zshrc.
# Initialization code that may require console input (password prompts, [y/n]
# confirmations, etc.) must go above this block; everything else may go below.
# https://github.com/romkatv/powerlevel10k?tab=readme-ov-file#how-do-i-initialize-direnv-when-using-instant-prompt
(( ${+commands[direnv]} )) && emulate zsh -c "$(direnv export zsh)"
if [[ -r "${XDG_CACHE_HOME:-$HOME/.cache}/p10k-instant-prompt-${(%):-%n}.zsh" ]]; then
  source "${XDG_CACHE_HOME:-$HOME/.cache}/p10k-instant-prompt-${(%):-%n}.zsh"
fi
(( ${+commands[direnv]} )) && emulate zsh -c "$(direnv hook zsh)"

# Set zsh options
setopt AUTO_PUSHD     # Push the old directory onto the stack on cd.

# Fix kitty/ssh see https://wiki.archlinux.org/title/Kitty#Terminal_issues_with_SSH
[ "$TERM" = "xterm-kitty" ] && alias ssh="kitty +kitten ssh"


{{ if eq .chezmoi.os "darwin" -}}
# Add pnpm global binaries to PATH
if [[ `command -v pnpm` ]]; then
  export PNPM_HOME="/Users/gethin/Library/pnpm"
  export PATH="$PNPM_HOME:$PATH"
fi
{{- end }}

source "$ZDOTDIR/plugins.zsh"
source "$ZDOTDIR/keybindings.zsh"
source "$ZDOTDIR/completion.zsh"
source "$ZDOTDIR/alias.zsh"

## Auto suggestions ignore glob
# Ignores:
# - Commands with leading whitespaces
# - A few git commands
ZSH_AUTOSUGGEST_HISTORY_IGNORE=" *|git clone *|git commit -m *|git push --force|rm *"

# Add user functions to fpath
fpath=(${ZDOTDIR}/funcs $fpath )

# Tag user functions for autoload
{{ if eq .chezmoi.os "linux" -}}
autoload -Uz setBrightness
{{ end -}}
{{ if eq .chezmoi.os "darwin" -}}
# No custom funcs for macOS
{{ end -}}
# End autoload

# Set up fzf key bindings and fuzzy completion (requires fzf >= 0.48)
source "$ZDOTDIR/fzf.zsh"

# Powerlevel10k
source "${XDG_DATA_HOME:-$HOME/.local/share}/zsh/powerlevel10k/powerlevel10k.zsh-theme"

# Load p10k theme
[[ ! -f ${ZDOTDIR}/.p10k.zsh ]] || source ${ZDOTDIR}/.p10k.zsh

