# Enable Powerlevel10k instant prompt. Should stay close to the top of .zshrc.
# Initialization code that may require console input (password prompts, [y/n]
# confirmations, etc.) must go above this block; everything else may go below.
if [[ -r "${XDG_CACHE_HOME:-$HOME/.cache}/p10k-instant-prompt-${(%):-%n}.zsh" ]]; then
  source "${XDG_CACHE_HOME:-$HOME/.cache}/p10k-instant-prompt-${(%):-%n}.zsh"
fi

# Activate mise dev-env tool https://mise.jdx.dev/
eval "$(mise activate zsh)"
# Auto load .env files
export MISE_ENV_FILE=.env

# Set zsh options
setopt AUTO_PUSHD     # Push the old directory onto the stack on cd.

{{ if eq .chezmoi.os "darwin" -}}
# Add pnpm global binaries to PATH
if [[ `command -v pnpm` ]]; then
  export PNPM_HOME="/Users/gethin/Library/pnpm"
  export PATH="$PNPM_HOME:$PATH"
fi
{{- end }}

source "$ZDOTDIR/plugins.zsh"
source "$ZDOTDIR/keybindings.zsh"
source "$ZDOTDIR/completion.zsh"
source "$ZDOTDIR/alias.zsh"

## Auto suggestions ignore glob
# Ignores:
# - Commands with leading whitespaces
# - A few git commands
ZSH_AUTOSUGGEST_HISTORY_IGNORE=" *|git clone *|git commit -m *|git push --force*|rm *"

# Add user functions to fpath
fpath=(${ZDOTDIR}/funcs $fpath )

# Tag user functions for autoload
{{ if eq .chezmoi.os "linux" -}}
autoload -Uz setBrightness
{{ end -}}
{{ if eq .chezmoi.os "darwin" -}}
# No custom funcs for macOS
{{ end -}}
# End autoload

# Fix kitty/ssh see https://wiki.archlinux.org/title/Kitty#Terminal_issues_with_SSH
if [ "$TERM" = "xterm-kitty" ]; then
  ssh() {
    kitty +kitten ssh "$@"
  }
  # must come after compinit
  compdef _ssh ssh
fi

# Set up fzf key bindings and fuzzy completion (requires fzf >= 0.48)
source "$ZDOTDIR/fzf.zsh"

# Powerlevel10k
source "${XDG_DATA_HOME:-$HOME/.local/share}/zsh/powerlevel10k/powerlevel10k.zsh-theme"

# Load p10k theme
[[ ! -f ${ZDOTDIR}/.p10k.zsh ]] || source ${ZDOTDIR}/.p10k.zsh

